<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>根据城市设置城市中心点</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <script type="text/javascript"
            src="//api.map.baidu.com/api?type=webgl&v=1.0&ak=y7HDGXWvnnshAcXLdAtxki21Oz3vRbUm"></script>
    <link href="//mapopen.cdn.bcebos.com/github/BMapGLLib/DrawingManager/src/DrawingManager.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
    </script>
    <script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  crossorigin="anonymous">
    <script type="text/javascript"
            src="//mapopen.cdn.bcebos.com/github/BMapGLLib/DrawingManager/src/DrawingManager.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"  crossorigin="anonymous"></script>
    <script src="//api.map.baidu.com/api?type=webgl&v=1.0&ak=y7HDGXWvnnshAcXLdAtxki21Oz3vRbUm"></script>
<!--    <link rel="stylesheet" href="../bootstrap/bootstrap-5.3.0-alpha1/dist/css">-->
<!--    <script src="../bootstrap/bootstrap-5.3.0-alpha1/dist/js"></script>-->
    <link rel="stylesheet" href="../CSS/map.css">
    <script src="../JS/map.js"></script>
</head>
<body  onload="loadMapScenario()">
<div class="time-area" id="time-input">
    开始时间<input id="stime" type="datetime-local">
    <br/>
    结束时间<input id="etime" type="datetime-local">
    <br/>
    <button type="submit" onclick="submitPath()">提交</button>
</div>
<div class="time-area" id="time-input2">
    开始时间<input id="sstime" type="datetime-local">
    <br/>  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    结束时间<input id="eetime" type="datetime-local">
    <br/>
    <button type="submit" onclick="submitTime()">提交</button>
</div>
<ul class="drawing-panel">
    <li class="bmap-btn bmap-polyline" id="polyline" onclick="draw(this)"></li>
</ul>
<!--<div><i class="bi bi-person-fill" id="user"></i></div>-->
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">轨迹匹配</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link #exampleModal"  href="javascript:void(0)" onclick="tracklist()" data-toggle="modal" data-target="#trackModal">常用轨迹</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        距离阈值
                    </a>
                    <ul class="dropdown-menu" id="evalue">
                        <li><a class="dropdown-item" href="#" onclick="getE(this)">默认阈值</a></li>
                        <li><a class="dropdown-item" href="#" onclick="getE(this)">0.4</a></li>
                        <li><a class="dropdown-item" href="#" onclick="getE(this)">2</a></li>
<!--                        <li><a class="dropdown-item" href="#"><input type="text"></a></li>-->
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        时间阈值
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" onclick="getT(this)">默认阈值</a></li>
                        <li><a class="dropdown-item" href="#" onclick="getT(this)">20</a></li>
                        <li><a class="dropdown-item" href="#" onclick="getT(this)">20000</a></li>
                        <!--                        <li><a class="dropdown-item" href="#"><input type="text"></a></li>-->
                    </ul>

                </li>

            </ul>
        </div>
    </div>
</nav>
<div id="container"></div>
<div >
    <div class="user">
        <ul class="list-group memberlist">
        </ul>
        <a href="javascript:void(0)" onclick="" data-toggle="modal" data-target="#helpModal" class="#helpModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.475 5.458c-.284 0-.514-.237-.47-.517C4.28 3.24 5.576 2 7.825 2c2.25 0 3.767 1.36 3.767 3.215 0 1.344-.665 2.288-1.79 2.973-1.1.659-1.414 1.118-1.414 2.01v.03a.5.5 0 0 1-.5.5h-.77a.5.5 0 0 1-.5-.495l-.003-.2c-.043-1.221.477-2.001 1.645-2.712 1.03-.632 1.397-1.135 1.397-2.028 0-.979-.758-1.698-1.926-1.698-1.009 0-1.71.529-1.938 1.402-.066.254-.278.461-.54.461h-.777ZM7.496 14c.622 0 1.095-.474 1.095-1.09 0-.618-.473-1.092-1.095-1.092-.606 0-1.087.474-1.087 1.091S6.89 14 7.496 14Z"/>
            </svg>
        </a>
        <a href="javascript:void(0)" onclick="" data-toggle="modal" data-target="#exampleModal" class="#exampleModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16" id="login">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>
        </a>
    </div>
    <div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">登录</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputName">用户名</label>
                            <input class="form-control" id="exampleInputName">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPwd" type="password">密码</label>
                            <input class="form-control" id="exampleInputPwd" placeholder="密码" type="password" >
                        </div>
                        <a href="" data-toggle="modal" data-target="#registerModal" class="#registerModal"> 没有账户？点此注册</a>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" onclick="login()"
                            data-dismiss="modal">登录
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="registerModal" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalLabel">注册</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="registerInputName">用户名</label>
                            <input class="form-control" id="registerInputName">
                        </div>
                        <div class="form-group">
                            <label for="registerInputPwd" type="password">密码</label>
                            <input class="form-control" id="registerInputPwd" placeholder="密码" type="password" >
                        </div>
                        <div class="form-group">
                            <label for="registerConfirmInputPwd">确认密码</label>
                            <input class="form-control" id="registerConfirmInputPwd" type="password" placeholder="密码" >

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" onclick="regist()" id="register"
                            >注册
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade  modal-dialog-scrollable" id="trackModal" aria-labelledby="trackModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="trackModalLabel">常用轨迹</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="tracklist">
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="chooseTrack()">选择</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="deleteTrack()">删除</button>
                    <button type="submit" class="btn btn-primary" onclick="AddTrack(this)"
                            data-dismiss="modal">添加轨迹
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="addtrackModal" aria-labelledby="addtrackModalLabel" >
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addtrackModalLabel">轨迹名称</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
<!--                            <label for="exampleInputName">轨迹名称</label>-->
                            <input class="form-control" id="addtrackInputName">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" onclick="submitTrack()"
                            data-dismiss="modal">确定
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="contrastModal" aria-labelledby="contrastModalLabel" data-bs-backdrop="static" >
        <div class="modal-dialog position-absolute bottom-0 end-0 ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contrastModalLabel">对比结果</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="contrastmap">

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="thresholdModal" aria-labelledby="thresholdModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="thresholdModalLabel">阈值选择</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputName">距离阈值</label>
                            <input class="form-control" id="thresholdD"  placeholder="当前阈值为默认阈值"   onkeyup="onlyNumber(this);">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPwd" type="password">时间阈值</label>
                            <input class="form-control" id="thresholdT" placeholder="当前阈值为默认阈值" onkeyup="onlyNumber(this);">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" onclick="contrast()"
                            data-dismiss="modal">确认
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="helpModal"  data-bs-keyboard="false" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="helpModalLabel">帮助</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>阈值功能：用户可以在标注轨迹前选择距离阈值与时间阈值，阈值越小轨迹精确度越高。</p>
                <p>阈值对比功能：用户可以在获得结果后继续为此轨迹选择不同阈值，并将不同阈值下得结果与本次比对结果进行同步显示。</p>
                <p>注意：阈值对比功能中得结果需要从"阈值对比-对比结果"进入</p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary"
                        data-dismiss="modal">确认
                </button>
            </div>
        </div>
    </div>

</div>
<script>
    // setTimeout(()=>{alert("本地图由百度地图API提供已校对，采用中国国家标准地图")},2000)

</script>
<div style="position: absolute; bottom: 10px; right: 10px;">本地图由百度地图API提供已校对，采用中国国家标准地图</div>

</body>
</html>
<script>
    // drawpath()
</script>

